@import '~antd/dist/antd.css';

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 170px;
  height: 31px;
  margin: 16px 24px 16px 0;
  /* background: rgba(255, 255, 255, 0.3); */
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: url(https://th.bing.com/th/id/R.6f51ebe1c9cb9cbe42531037856ee853?rik=pnoHkOgTjaxb1Q&riu=http%3a%2f%2fimg.pptjia.com%2fimage%2f20180515%2f45a95795f7a6698e6897b218c8732732.jpg&ehk=Hyjv%2fl8KivnWZLuxKNuvFclqLsCWKDT2wt5AlyfcfYg%3d&risl=&pid=ImgRaw);
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
/* my css */

.logo {
  float: left;
  width: 200px;
  height: 49px;
  line-height: 49px;
  margin: 16px 24px 16px 16px;
  /* background: rgba(255, 255, 255, 0.2); */
  color: wheat;
  display: flex;
  align-items: center;
  border-bottom: 1px solid wheat;
  padding-bottom: 15px;
}
.name {
  float: right;
  width: 200px;
  height: 40px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 25px;
}

.container
{
  margin: 10px auto;
  display: flex;
  display: -webkit-flex; /* Safari */
}
.item
{
  flex:1;
  height: 80vh;
  /* border:1px solid black; */
}

.label{
  padding-left: 85px;
  margin: 10px 0 15px 0;
  font-size: 16px;
  text-decoration: underline
}
.label2{
  margin: 10px 0 60px 0;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
}

/* modify */
.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title{
  width: 100%;
  height: 55px;
}

.ant-steps-vertical{
  display: flex;
  flex-direction: column;
  border-right: 1px solid #1890ff;
  margin: 10px 0;
  padding: 24px;
  height: 405px;

}
.ant-form-item-label > label{
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-family: "微软雅黑";
  /* font-weight: bold; */
}