@import '~antd/dist/antd.css';

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 170px;
  height: 31px;
  margin: 16px 24px 16px 0;
  /* background: rgba(255, 255, 255, 0.3); */
}
.logo{
  color: #6092ff;
  text-align: center;
  line-height: 31px;
  font-size: 19px;
  width: 170px;
  background: #001529
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
  min-height: 82vh;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
/* my css */

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.name {
  float: right;
  width: 200px;
  height: 40px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 25px;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}